body {
    margin: 0;
    font-family: Arial;
    text-align: center;
}

nav {
    background: #333;
    color: white;
    padding: 15px;
}

header {
    background: linear-gradient(to right, #4facfe, #00f2fe);
    color: white;
    padding: 100px 20px;
}

button {
    padding: 10px 20px;
    border: none;
    background: white;
    cursor: pointer;
    font-weight: bold;
}

section {
    padding: 50px;
}

.features {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.box {
    background: #f4f4f4;
    padding: 30px;
    width: 120px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}
.box:hover {
    transform: translateY(-5px);
}

footer {
    background: #333;
    color: white;
    padding: 20px;
}
nav li:hover {
    color: #00f2fe;
}

header button:hover {
    background: #222;
    color: white;
}
